<%= stylesheet_link_tag 'static_pages_contact' %>
<body class="page">
	<div class="wrapper container">
		<div class="wrapper-head row">
			<h2 class="title">Contact us</h2>
			<div class="logo col-md-12 col-xs-12">
				
				<% if user_signed_in? %>
					<%= link_to image_tag('logo.png', :class => "logo img-responsive"), profile_path %>
				<% else %>
					<%= link_to image_tag('logo.png', :class => "logo img-responsive"), root_path %>
				<% end %>

			</div>
			<div class="informacion col-md-12 col-xs-12">

				<div class="col-md-6 col-xs-12 imag text-center">
					<h3>Address</h3>
					<p class="text-center">
						Carrera 25 No.53-10 Sur
					</p>
				</div>
				<div class="col-md-6 col-xs-12 imag text-center">
					<h3>Phone numbers:</h3>
					<p class="text-center">
						Landline:
						714 33 27
					</p>
					<p class="text-center">
						Cell Phone:
						319 604 61 35
					</p>
				</div>
			</div>


		</div>

		<div class="wrapper-form col-md-6 col-xs-10	">
			<h2 class="title">Send us a message!</h2>
			<form role="form" class="form">
				<div class="form-group">
					<label for="username">Name:</label>
					<input type="text" name="nombre" class="form-control" placeholder="Nombre" />
				</div>

				<div class="form-group">
					<label for="exampleInputEmail1">Email:</label>
					<input type="email" name="correo" class="form-control" placeholder="Correo" />
				</div>

				<div class="form-group">
					<label for="comment">Message:</label>
					<textarea class="form-control" rows="5" placeholder="Mensaje"></textarea>
				</div>

				<button type="button" class="btn btn-info">Send</button>
			</form>
		</div>
	</div>
</body>
