<h2>Completa tus datos</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

    <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname, autofocus: true %>
  </div>
  
   <div class="field">
      <%= f.label :phone %><br />
      <%= f.text_field :phone, autofocus: true %>
    </div>

  <div class="actions">
    <%= f.submit "Aceptar" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
