<%= stylesheet_link_tag 'static_pages_contact' %>
<%= stylesheet_link_tag 'users' %>
<section class="dashboard clearfix">
	<%= render 'menu' %>
	<div class="wrapper container">
		<%= render 'static_pages/contact' %>
	</div>
</section>