<%= stylesheet_link_tag 'users' %>
<section class="dashboard clearfix" ng-app="dashboard">
	<div class="menu">
		<div class="lavalotu-image">
			<%= image_tag("logo.png", :alt => "Logo LavaloTu", :title => "Logo LavaloTu", :class=> "logo img-responsive") %>
			<h1>Lavalotu</h1>
		</div>
		<ul class="menu-options">
			<li><a href="#">Prices</a></li> 
			<li><a href="#">Tecnología</a></li>
			<li><a href="#">Deportes</a></li> 
			<li><a href="#">Hogar</a></li> 
			<li><a href="#">Moda</a></li> 
		</ul>
	</div>
	<div class="content" ng-controller="garmentsController">
		<div class="container">
			<div class="garment col-md-3" ng:repeat="garment in garments">
				<div class="image">
					<%= image_tag("garments/{{garment.name}}.png", :alt => "{{garment.name}}", :title => "{{garment.name}}", :class=> "img-responsive") %>
				</div>
				{{garment.name}}
			</div>
		</div>
	</div>
</section>