<%= stylesheet_link_tag 'users' %>
<section class="dashboard clearfix">
  <%= render 'menu' %>
  <div id="garments-container">
  	<h2 class="title">You can find many services for your garments <span>And see the price range of different services</span></h2>
  </div>
</section>
<%= javascript_include_tag :dashboard %>