<%= stylesheet_link_tag 'users' %>
<section class="dashboard clearfix">
  <%= render 'users/menu' %>
  <div class="admin-container">
    <p id='notice'><%= notice %></p>
        
          <%= javascript_include_tag :show_laundries %>          
    </div>
  </section>
  
  
