<%= stylesheet_link_tag 'laundries' %>
<section class="laundry clearfix">
  <%= render 'users/menu' %>
  
  <div id="laundries-container">
    <h2 class="title">Welcome to <%= @laundry.name %></h2>
    
  </div>
</section>


<%= link_to 'List of laundries', laundries_path , class: "option"%>	