<%= stylesheet_link_tag 'laundries' %>
<section class="laundry clearfix">
  <%= render 'users/menu' %>
  <div id="laundries-container">
    
  </div>
  <%= link_to 'List of laundries', laundries_path , class: "option"%>
</section>
<%= javascript_include_tag :laundries %>

