/* Colors */
$white: #FFF;
$black: #000;
$blue: #72e2fd;
$beige: #e7e7e7;
$dark-blue: #203F88;
$dark-gray: #333;
$light-blue: #D9F3F8;

/* Fonts */
$font-bebas: 'bebas', sans-serif;
$font-oswald: 'oswald', sans-serif;

/* Fonts sizes */
$font-size-base: 16px;
$font-size-small:ceil(($font-size-base * 0.85)); // ~12px