/*Importamos Fuentes, Mixins y Variables*/
@import "fonts";
@import "mixin";
@import "variables";
/*Importamos Bootstrap*/
@import "bootstrap-sprockets";
@import "bootstrap";
/*Importamos Font-Awesome*/
@import "font-awesome-sprockets";
@import "font-awesome";

.notice, .alert{
	display: none;
}

.laundry{
	overflow-x: hidden;
	position: relative;
	.menu{
		background-color: $blue;
		color: $white;
		float: left;
		height: 100vh;	
		padding: 10px 0;
		position: fixed;
		width: 20%;
		.lavalotu-image{
			padding: 15px 0;
			text-align: center;
			.logo{
				display: inline-block;
				width: 60px;
			}
			h1{
				display: inline-block;
				font-family: $font-LatoS;
				font-size: 25px;
				margin: 0;
				vertical-align: -10%;
			}
		}
		.menu-options{
			height: 90%;
			list-style: none;
			margin: 0;
			padding: 0;
			position: relative;
			li{
				padding: 0 20px;
				@include transition(all 0.3s ease-in-out);
				a{
					color: $white;
					display: block;
					font-family: $font-LatoT;
					font-size: 22px;
					font-weight: bold;
					padding: 10px;
					&:hover{
						text-decoration: none;
					}
				}
				&:hover{
					
				}
			}
			span{
				bottom: 25px;
				font-family: $font-LatoT;
				font-size: 17px;
				font-weight: bold;
				left: 0;
				margin: 0 auto;
				position: absolute;
				right: 0;
				text-align: center;
				width: 100%;
			}
		}
	}
	#laundries-container{
		float: right;
		padding-top: 30px;
		text-align: center;
		width: 80%;
		.laundry_info{
			display: block;
			font-family: $font-LatoT;
			margin-top: 10px;
			padding-left: 30px;
			text-align: left;
			.title{
				color: $blue;
				font-family: $font-LatoB;
				font-size: 50px;
				padding-bottom: 10px;
			}
			.detail-cost{
				font-size: 21px;
			}
		}
		#result{
			border: 1px solid black;
			width: 170px;
			height:50px;
			text-align: center;
			float: right;
			line-height: 2.2em;
			margin-right: 70px;
			margin-top: 30px;
			font-family: $font-LatoS;
			font-size: 20px;
		}
		#reset {
			border: 1px solid black;
			width: 170px;
			height:50px;
			text-align: center;
			float: right;
			line-height: 2.2em;
			font-family: $font-LatoB;
			font-size: 20px;
			margin-top: 30px;
			display: block;
			cursor: pointer;
			transition: background-color 0.5s ease;
		}
		#reset:hover{
			background-color: $blue;
			transition: background-color 0.5s ease;

		}
		.options{
			font-family: $font-LatoT;
			padding: 20px 30px 10px;
			text-align: left;
			label{
				font-family: $font-LatoT;
				font-size: 20px;
				padding-bottom: 10px;
				width: 500px;
			}
			select{
				text-transform: capitalize;
				width: 300px;
				option{
					padding: 10px;
					text-transform: capitalize;
				}
			}
		}
		.content{
			margin: 0;
			.garment{
				font-family: $font-LatoT;
				font-size: 17px;
				padding: 15px 20px 15px;
				text-align: center;
				.name{
					display: block;
					padding: 10px 10px 0;
					text-transform: capitalize;
				}
				.image{
					border: 1px solid #ddd;
					height: 246px;
					position: relative;
					width: 246px;
					.mask{
						background-color: rgba(255,255,255, 0.6);
						height: 100%;
						left: 0;
						opacity: 0;
						position: absolute;
						top: 0;
						width: 100%;
						@include transition(0.3s ease-in-out);
						.options{
							cursor: pointer;
							left: 0;
							margin: 0 auto;
							padding: 0;
							position: absolute;
							right: 0;
							text-align: center;
							top: 45%;
							span{
								padding: 0 5px;
							}
						}
						.number{
							bottom: 10%;
							left: 0;
							margin: 0 auto;
							position: absolute;
							right: 0;
							width: 40px;
						}
					}
				}
				.jeans{
					background: asset-url('garments/jeans.png') no-repeat 0 0 transparent;
					background-size: cover; 
				}
				.dress{
					background: asset-url('garments/dress.png') no-repeat 0 0 transparent;
					background-size: cover; 
				}
				.jacket{
					background: asset-url('garments/jacket.png') no-repeat 0 0 transparent;
					background-size: cover; 
				}
				.polo{
					background: asset-url('garments/polo.png') no-repeat 0 0 transparent;
					background-size: cover; 
				}
				.shirt{
					background: asset-url('garments/shirt.png') no-repeat 0 0 transparent;
					background-size: cover; 
				}
				&:hover{
					.image{
						.mask{
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

