/*Importamos Fuentes, Mixins y Variables*/
@import "fonts";
@import "mixin";
@import "variables";
/*Importamos Bootstrap*/
@import "bootstrap-sprockets";
@import "bootstrap";
/*Importamos Font-Awesome*/
@import "font-awesome-sprockets";
@import "font-awesome";

.notice, .alert{
	display: none;
} 

.dashboard{
	position: relative;
	.menu{
		background-color: $blue;
		color: $white;
		float: left;
		height: 100vh;	
		padding: 10px 0;
		position: fixed;
		width: 20%;
		.lavalotu-image{
			padding: 15px 0;
			text-align: center;
			.logo{
				display: inline-block;
				width: 60px;
			}
			h1{
				display: inline-block;
				font-family: $font-LatoS;
				font-size: 25px;
				margin: 0;
				vertical-align: -10%;
			}
		}
		.wrapper-menu{
			height: 90%;
			position: relative;
			.menu-content{
				.menu-options{
					list-style: none;
					margin: 0;
					padding: 0;
					position: relative;
					li{
						padding: 0 20px;
						@include transition(all 0.3s ease-in-out);
						a{
							color: $white;
							display: block;
							font-family: $font-LatoT;
							font-size: 22px;
							font-weight: bold;
							padding: 10px;
							&:hover{
								text-decoration: none;
							}
						}
						&:hover{

						}
					}
				}
			}
			span{
				bottom: 25px;
				font-family: $font-LatoT;
				font-size: 17px;
				font-weight: bold;
				left: 0;
				margin: 0 auto;
				position: absolute;
				right: 0;
				text-align: center;
				width: 100%;
			}
		}
	}
	#garments-container{
		float: right;
		padding-top: 30px;
		width: 80%;
		.title{
			margin: 10px 0 0 0; 
		}
		.options, .title{
			font-family: $font-LatoT;
			padding: 10px 20px;
			label{
				color: $dark-gray;
				font-family: $font-LatoS;
				font-size: 20px; 
			}
			select{
				text-transform: capitalize;
				width: 300px;
				option{
					padding: 10px;
					text-transform: capitalize;
				}
			}
			span{
				display: block;
				font-size: 30px;
				padding-top: 5px;
			}
		}
		.content{
			margin: 0;
			.garment{
				font-family: $font-LatoT;
				font-size: 17px;
				padding: 15px 20px 15px;
				text-align: center;
				.name{
					display: block;
					padding: 10px;
					text-transform: capitalize;
				}
				.image{
					border: 1px solid #ddd;
					display: inline-block;
					height: 246px;
					position: relative;
					width: 246px;
				}
				.jeans{
					background: asset-url('garments/jeans.png') no-repeat 0 0 transparent;
					background-size: cover; 
				}
				.dress{
					background: asset-url('garments/dress.png') no-repeat 0 0 transparent;
					background-size: cover; 
				}
				.jacket{
					background: asset-url('garments/jacket.png') no-repeat 0 0 transparent;
					background-size: cover; 
				}
				.polo{
					background: asset-url('garments/polo.png') no-repeat 0 0 transparent;
					background-size: cover; 
				}
				.shirt{
					background: asset-url('garments/shirt.png') no-repeat 0 0 transparent;
					background-size: cover; 
				}
				.undershirt{
					background: asset-url('garments/undershirt.png') no-repeat 0 0 transparent;
					background-size: cover; 
				}
				.blouse{
					background: asset-url('garments/blouse.png') no-repeat 0 0 transparent;
					background-size: cover; 
				}
				.suit{
					background: asset-url('garments/suit.png') no-repeat 0 0 transparent;
					background-size: cover; 
				}
				.tie{
					background: asset-url('garments/tie.png') no-repeat 0 0 transparent;
					background-size: cover; 
				}
				.quilt{
					background: asset-url('garments/quilt.png') no-repeat 0 0 transparent;
					background-size: cover; 
				}
				&:hover{
					.image{
						.mask{
							opacity: 1;
						}
					}
				}
			}
		}
	}
	#profile-container{
		float: right;
		padding-top: 30px;
		text-align: center;
		width: 80%;
		.user-info{
			display: inline-block;
			font-family: $font-LatoT;
			margin: 0 auto;
			width: 85%;
			.title{
				color: $blue;
				font-family: $font-LatoS;
				text-align: center;
			}
			.data{
				color: $dark-gray;
				padding: 50px 0;
				.user{
					font-size: 20px;
					padding-right: 50px;
					text-align: right;
					.subtitle{
						padding-bottom: 15px;
						text-align: left;
					}
					ul{
						padding-left: 10px;
						li{
							list-style: none;
							span{
								display: inline-block;
								float: left;
								font-family: $font-LatoS;
								font-style: italic;
							}
						}
					}
					table {
						border-collapse: collapse;
						width: 100%;
					}

					th, td {
						padding: 8px;
						text-align: left;
						border-bottom: 1px solid #ddd;
					}

					tr:hover{background-color:#f5f5f5}
				}
				.user-image{
					text-align: center;
					img{
						border-radius: 50%;
						display: inline-block;
						height: 200px;
						width: 200px;
					}
				}
			}
			.user-friends{
				h3{
					padding-bottom: 20px;
					text-align: left;
				}
				.friends{
					text-align: left;
					.friend{
						text-align: center;
						img{
							border-radius: 50%;
							display: inline-block;
						}
						.my_friend{
							font-size: 14px;
							min-height: 32px;
						}
					}
				}
			}
		}
	}
	#users-container{
		float: right;
		padding-top: 30px;
		text-align: center;
		width: 80%;
		.user-info{
			display: inline-block;
			font-family: $font-LatoT;
			margin: 0 auto;
			width: 85%;
			.title{
				color: $blue;
				font-family: $font-LatoS;
				text-align: center;
			}
			.data{
				color: $dark-gray;
				padding: 50px 0;
				.user{
					font-size: 20px;
					padding-right: 50px;
					text-align: right;
					.subtitle{
						padding-bottom: 15px;
						text-align: left;
					}
					ul{
						padding-left: 10px;
						li{
							list-style: none;
							span{
								display: inline-block;
								float: left;
								font-family: $font-LatoS;
								font-style: italic;
							}
							a{
								padding-left: 10px;
								display: inline-block;
								float: left;
							}

						}
					}
					table {
						border-collapse: collapse;
						width: 100%;
					}

					th, td {
						padding: 8px;
						text-align: left;
						border-bottom: 1px solid #ddd;
					}

					tr:hover{background-color:#f5f5f5}
				}
			}
		}
	}
	#laundries-container{
		float: right;
		padding-top: 30px;
		position: relative;
		text-align: center;
		width: 80%;
		.options{
			font-family: $font-LatoT;
			padding: 20px 30px 10px;
			text-align: left;
			label{
				font-family: $font-LatoT;
				font-size: 20px;
				padding-bottom: 10px;
				width: 500px;
			}
			select{
				text-transform: capitalize;
				width: 300px;
				option{
					padding: 10px;
					text-transform: capitalize;
				}
			}
		}
		.laundries-info{
			display: inline-block;
			font-family: $font-LatoT;
			margin: 0 auto;
			width: 85%;
			.title{
				color: $blue;
				font-family: $font-LatoS;
				text-align: center;
			}
			.detail-title{
				font-size: 24px;
			}
			.data{
				margin: 20px 0;
				.laundry{
					padding: 15px;
					text-align: center;
					.content{
						border: 1px solid #333;
						display: inline-block;
						overflow: hidden;
						padding: 15px 20px;
						position: relative;
						width: 90%;
						.image{
							padding: 10px;
							text-align: center;
							img{
								display: inline-block;
							}
						}
						.name{
							color: $blue;
							font-family: $font-LatoS;
							margin-top: 10px;
							min-height: 62px;
						}
						.address, .name{
							display: block;
							padding-top: 5px;
						}
						.score{
							font-style: italic;
							font-weight: bold;
						}
						.mask{
							background-color: rgba(200, 247, 255, 0.6);
							font-family: $font-LatoS;
							height: 100%;
							left: -100%;
							overflow: hidden;
							position: absolute;
							top: 0;
							width: 100%;
							-moz-box-sizing: border-box;
							-webkit-box-sizing: border-box;
							box-sizing: border-box;
							@include transition(all 0.3s ease-in-out);
							&::before{
								content: 'Show Prices';
								color: #333;
								left: 0;
								position: absolute;
								text-transform: uppercase;
								top: 47%;
								width: 100%;
								@include transition(all 0.3s ease-in-out);
							}
						}
						&:hover{
							.mask{
								left: 0;
							}
						}
					}
				}
			}
		}
		.back{
			color: $blue;
			font-size: 30px;
			left: 25px;
			position: absolute;
			top: 25px;
			&:hover, &:active, &:focus{
				text-decoration: none;
			}
		}
	}
	.wrapper{
		float: right;
		width: 80%;	
	}
	.admin-container{
		float: right;
		padding-top: 30px;
		text-align: center;
		width: 80%;
		.laundries-info{
			display: inline-block;
			font-family: $font-LatoT;
			margin: 0 auto;
			width: 85%;
			.title{
				color: $blue;
				font-family: $font-LatoS;
				text-align: center;
			}
			.data{
				color: $dark-gray;
				padding: 50px 0;
				.user{
					font-size: 20px;
					padding-right: 50px;
					text-align: right;
					.subtitle{
						padding-bottom: 15px;
						text-align: left;
					}
					ul{
						padding-left: 10px;
						li{
							list-style: none;
							span{
								display: inline-block;
								float: left;
								font-family: $font-LatoS;
								font-style: italic;
							}
							a{
								padding-left: 10px;
								display: inline-block;
								float: left;
							}

						}
					}
					table {
						border-collapse: collapse;
						width: 100%;
					}

					th, td {
						padding: 8px;
						text-align: left;
						border-bottom: 1px solid #ddd;
						cursor: pointer;
					}

					tr:hover{background-color:#f5f5f5}
					
				}
			}
		}
	}
}

.garmnet-info{
	font-family: $font-LatoT;
	padding-top: 20px;
	.detail{
		text-align: center;
		.subtitle{
			font-family: $font-LatoS;
			text-align: left;
		}
		p{
			padding-left: 15px;
			text-align: left;
		}
		.description{
			display: none;
		}
		.service{
			font-size: 20px;
			padding-top: 20px;
			text-align: left;
		}
		.laundry{
			padding-bottom: 15px;
			.laundries-info{
				float: left;
				width: 33.33333%;
				.data{
					padding-top: 20px;
					.laundry-name{
						display: none;
					}
					p, a{
						display: block;
						text-align: left;
					}
					a{
						padding-left: 15px;
					}
				}
			}
		}
		.data{
			padding-top: 15px
		}
		.option{
			display: inline-block;
			font-size: 25px;
			padding: 30px 25px 20px;
			&:hover{
				text-decoration: none;
			}
		}
		.home{
			color: $blue;
		}
		.back{
			color: $dark-gray;
		}
	}
}
/* ================================================
MEDIA QUERIS
==================================================*/
@media screen and (max-width: 40em) {
	.dashboard{
		.menu{
			float: unset;
			height: auto;
			padding: 15px;
			position: relative;
			width: 100%;
			.lavalotu-image{
				display: inline-block;
				padding: 0;
				h1{
					font-size: 21px;
					letter-spacing: 0.5px;
				}
			}
			.navbar-header{
				float: right;
				margin-top: 10px;
				button{
					margin: 0;
					span{
						background-color: $white;
						height: 3px;
						width: 28px;
					}
				}
			}
			.wrapper-menu{
				.menu-content{
					padding: 10px 0 0;
					.menu-options{
						li{
							padding: 0 15px;
							a{
								font-size: 19px;
								padding: 8px;
							}
						}
					}
				}
				span{
					display: none;
				}
			}
		}
		#profile-container{
			float: unset;
			padding-top: 20px;
			width: 100%;
			.user-info{
				padding: 0 15px;
				width: 100%;
				.data{
					padding: 10px 0 0;
					.user-image{
						text-align: center;
						img{
							display: inline-block;
							height: 140px;
							width: 140px;
						}
					}
					.user{
						padding-right: 30px;
						.subtitle{
							font-size: 23px;
							margin-top: 10px;
							padding-bottom: 0;
						}
						ul{
							font-size: 19px;
						}
					}
					.address{
						padding-right: 15px;
						th, td{
							font-size: 17px;
						}
					}
				}
				.title, .user-name{
					font-size: 35px;
					margin-top: 0;
				}
				.user-name{
					font-size: 29px;
				}
				.user-friends{
					.friends{
						padding: 0 25px;
					}
				}
			}
		}
		#garments-container{
			float: unset;
			margin-top: 0;
			padding-top: 10px;
			width: 100%;
			.title{
				font-size: 24px;
				span{
					font-size: 22px;
					padding-top: 15px;
				}
			}
			.options{
				select{
					width: 280px;
				}
			}
			.content{
				.garment{
					.image{
						display: inline-block;
					}
					.name{
						padding: 0 10px;
					}
				}
			}
		}
		#laundries-container{
			float: unset;
			margin-top: 0;
			padding-top: 10px;
			width: 100%;	
		}
		.wrapper{
			float: unset;
			width: 100%;
		}
	}
}
